<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/images/cube.png">
    {% block head %}

    {% endblock head %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="user-name">{{ profile.username }}</div>
            <div class="stats">
                <div class="stat"><img src="../static/images/cube.png" alt="Кубиков"><span id="profile-cube">{{profile.cube}}</span></div>
                <div class="stat"><img src="../static/images/ruby.png" alt="Рубины"><span id="profile-ruby">{{profile.ruby}}</span></div>
                <div class="stat"><img src="../static/images/coin.png" alt="Монеты"><span id="profile-money">{{profile.money}}</span></div>
            </div>
        </div>

		{% block content %}

		{% endblock content %}


        {% block end %}

        {% endblock end %}

		<div class="navigation">
            <a href="/skills" class="nav-button"><div class="nav-button"><img src="../static/images/statistic.png" alt="Statistic"></div></a>
            <a href="/" class="nav-button"><div class="nav-button"><img src="../static/images/home.png" alt="Home"></div></a>
            <a href="/arcade" class="nav-button"><div class="nav-button"><img src="../static/images/modes.png" alt="Modes"></div></a>
		</div>
	</div>
</body>
</html>
